name: Update GFW List for ROS
on:
  schedule:
    - cron: '0 20 * * *' # Runs at 04:00 China Time daily
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Run Cleaner
        run: python clean_gfw.py

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add gfw_list.rsc
          git commit -m "Update GFW list" || exit 0
          git push
